body {
    background-color:white;
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
}

h2 {
    color:skyblue; 
    margin-top: 20px;
}

table {
    width: 80%;
    max-width: 600px; 
    margin: 20px auto;
    border-collapse: collapse; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

th {
    background-color:green; 
    color: #fff; 
    padding: 10px;
}

td {
    background-color:white;
    padding: 8px;
    border: 1px solid #4CAF50;

}

td[colspan="3"] {
    background-color: #dcedc8;
    text-align: right;
}

strong {
    color: #4CAF50;
}
